body {
    background-color: white;
    color: navy;
}

#heading {
    text-align: center;
}

#mainText {
    padding-left: 20px;
}

#menu a{
    padding: 5px;
    font-size: 15pt;
}

#menu {
    padding-bottom: 10px;
}

p {
    padding-left: 20px;
}

a {
    color: navy;
}

#maintext img {
}