body {
    background-color: white;
}

#banner {
    width: 100%;
    background-color: #806800;
    height: 100px;
}

#heading {
    color: navy;
    text-align: center;
}

#heading a{
    color: navy;
}

#mainText {
    padding-left: 20px;
    color: navy;
}

#menu a{
    padding: 5px;
    font-size: 15pt;
}

#menu {
    padding-bottom: 10px;
}

p {
    padding-left: 20px;
}

a {
    color: #000080;
}